include README.md
include requirements.txt
include LICENSE
include pyproject.toml
include finsim/portfolio/optimize/native/cythonmetrics.pyx
include finsim/estimate/native/cythonfit.pyx
include finsim/estimate/native/cythonrisk.pyx
